@import '../../StyleVars/_constants';

@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:0;}
    75% {opacity:0.8;}
    100% {opacity:1;}
  }

  @keyframes fadeInPic {
    0% {opacity:.9;}
    100% {opacity:1;}
  }

  @keyframes fadeOutPic {
    0% {opacity:1;}
    100% {opacity:.9;}
  }

body {
    margin: 0;
}

.homeContainer {
    background-color: white;
    z-index: -1;
}

.topHomeContainer {
    // @include border-testing(blue);
    // background-image: linear-gradient(to right bottom, #fc3a3a, #fa5c5c, #F97979, #ff7474, #f37575);
    background-image: linear-gradient(to bottom right, white, white, white, #c7c7c7);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
    z-index: 1;
    padding-top: 5%;

}

.topImage {
    // @include border-testing(green);
    //@include border-testing(green);
    width: 40%;
    padding: 0%;
    animation: fadeIn 1s;
    // animation: fadeInPic .5s;   
}


.topHomeTextDiv {
    // @include border-testing(red);

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0%;
    padding-bottom: 5%;
    width: 50%;
    max-height: 60vh;
    min-height: 60vh;
    color: $mainLightBlack;
    z-index: 2;
 
    h2 {
        @include applyFont(none, 400);
        margin: 0% 0% 0% 0%;
        font-size: 5rem;
        line-height: 150%;
        animation: fadeIn 2s;
        text-align: center;
        span {
            @include applyFont(italic, 400);
            text-decoration: underline;
            text-decoration-color: $mainRed;
        }
    }
    p {
        // @include border-testing(red);
        @include applyFont(none, 200);
        text-align: center;
        color: rgb(88, 88, 88);
        margin-bottom: 5%;
        animation: fadeIn 4s;
        width: 70%;
    }
}




.topHomeButton {
    animation: fadeIn 5s;
    @include applyFont(none, 400);
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.2em solid $mainRed;
    // margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color: $mainLightBlack;
    font-size: 1rem;
    text-align:center;
    transition: all 0.5s;
    background-color: transparent;

    }
    .topHomeButton:hover{

        font-size: 1.1rem;
    color: white;
    background-color: $mainBlack;
    border-color: $mainBlack;
    box-shadow: 0 10px 18px $mainLightBlack;
    }
    




.fillerDiv {
    // @include border-testing(red);
    border: 0.1px solid;
    border-color: white;
    width: 99.9%;
    height: 10vh;
    color: $whiteGradient;
    box-shadow: 0px 10px 18px #888888, 0px -5px 18px #3b3b3b;
    margin-bottom: 10%;
    z-index: 10;
}




.middleHomeContainer {
    // @include border-testing(red);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;
}

.middleImage {
    // @include border-testing(blue);
    width: 40%;
    height: 60vh;
    border-radius: 30px;
    margin-right: -10%;
    box-shadow: 0px 15px 18px #888888;
    transition: all 0.2s;
}
.middleImage:hover {
    width: 40.5%;
    height: 60.25vh;
    box-shadow: 
    0px 20px 18px #888888,
    1px 0px 18px #888888,
    -1px 0px 18px #888888;
}

.middleHomeTextDiv {
    // @include border-testing(green);
    display: flex;
    flex-direction: column;
    width: 30%;
    color: black;
    margin-left: -10%;
    h2 {
        @include applyFont(italic, 200);
        text-align: left;
        font-size: 2rem;
        line-height: 200%;
        // text-shadow: 0px 5px 10px #888888;
        span {
            @include applyFont(italic, 500);
            color: $mainRed;
        }
    }
}

.middleHomeButton {
    @include applyFont(none, 400);
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid $mainBlack;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color: white;
    font-size: 1rem;
    text-align:center;
    transition: all 0.2s;
    background-color: $mainBlack;
    box-shadow: 0px 15px 18px #888888;
    span {
        @include applyFont(none, 700);
        font-size: 1.05rem;
        color:red;
    }
    }
    .middleHomeButton:hover{
    color: $mainBlack;
    background-color: transparent;
    }