@import '../../StyleVars/_constants';

//HEADER ----------------------------------------------------------------------------------

header {
    font-family: 'Fira Sans', sans-serif;
}

nav {
   @include flex-center(row);
   background-image: $whiteGradient;
   img {
       width: 7.5%;
       height: 7.5%;
       margin-left: 5%;
   }
   h1 {
        font-family: 'Fira Sans', sans-serif;
        font-style: italic;
        font-weight: 700;
   }
    ul {
        // @include border-testing(green);
        @include flex-center(row);
        margin: 0%, 0%, 0%, 0%;
        height: 100%;
        width: 75%;
        margin-left: 25%;
        li {
            // @include border-testing(blue);
            margin-top: 1.5%;
            margin-left: 20%;
            list-style: none;
            a {
                @include applyFont(none, 300);
                text-decoration: none;
                color: black;
            }
        }
    }
}



//FOOTER----------------------------------------------------------------------

.footer {
    @include flex-center(column);
    background-color: $mainLightBlack;
    margin-bottom: 0%;
    height: 50vh;
    color: white;
    .footerContent {
        @include flex-center(row);
        justify-content: space-around;
        margin-top: 5%;
        .footerExplore {
            @include flex-center(column);
        }
    }
}