@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$whiteGradient : linear-gradient(#ffffff, #c6c6c6);

//functions for testing
@mixin border-testing ($color) {
    border: 2px solid;
    border-color: $color;
}

//functions for constant styling
@mixin flex-center ($direction) {
    display: flex;
    flex-direction: $direction;
    // justify-content: space-around;
    // margin: 5%, 10%, 5%, 10%;
}

//HEADER ----------------------------------------------------------------------------------

header {
    font-family: 'Fira Sans', sans-serif;
}

nav {
   @include flex-center(row);
   background-image: $whiteGradient;
   img {
       width: 7.5%;
       height: 7.5%;
       margin-left: 5%;
   }
   h1 {
        font-family: 'Fira Sans', sans-serif;
        font-style: italic;
        font-weight: 700;
   }
    ul {
        // @include border-testing(green);
        @include flex-center(row);
        margin: 0%, 0%, 0%, 0%;
        height: 100%;
        width: 75%;
        margin-left: 25%;
        li {
            // @include border-testing(blue);
            margin-top: 1.5%;
            margin-left: 20%;
            list-style: none;
            a {
                text-decoration: none;
                color: black;
                font-weight: lighter;
            }
        }
    }
}