//IMPORTS------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



//COLOR SCHEME-------------------------------------------------------------------------------------------

    //MAIN COLORS
$mainDarkBlack: #111111;
$mainBlack: #161616;
$mainLightBlack: #1c1c1c;
$mainDarkRed: #bb000e;
$mainRed: #E31C25;

    //GRADIENTS
$whiteGradient : linear-gradient(#ffffff, #e6e6e6, #c6c6c6);



//FUNCTIONS-----------------------------------------------------------------------------------------------

    //testing
@mixin border-testing ($color) {
    border: 2px solid;
    border-color: $color;
}

    //CONSISTENT STLYING
@mixin applyFont ($style, $weight) {
    font-family: 'Fira Sans', sans-serif;
    font-style: $style;
    font-weight: $weight;
}


@mixin flex-center ($direction) {
    display: flex;
    flex-direction: $direction;
    // justify-content: space-around;
}